//Vertical Layout-------------
html,body{
  height: 100%;
}
.container-fluid{
  height: 80%;
  overflow: auto;
  .header-top{
    height: 40%;
    .headline{
      height: 60%;
    }
    .subtext{
      height: 40%;
      .subtext-btn{
        height: 100%;
      }
    }

  }

  .row.row2{
    height: 60%;
    .story{
      height: 100%;
    }
  }
}
footer{
  height: 20%;
}
//Helpers:--------------------
.dead-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-fnOver{
  box-shadow: 0 0 5px rgba(247, 246, 234, .1) !important;
  background-color: lighten(black,5%) !important;
}

@mixin story-img-props{
  cursor: pointer;
  background-size: 100% 100%;
  height:50%;
  width: 50%;
  margin: auto;

}
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//---------------------------------
.msg, .modal-content{
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color:transparent;
}

//Header---------------------------
.header-top{
  color:whitesmoke;
  background: url("/assets/images/dforest.jpg")  center;
  background-size:cover;
  overflow: auto;
  .headline{
    background-color:transparent;
    color: inherit;
    padding-top: 30px;
    padding-bottom:30px;
  }
  .subtext{
    background-color: rgba(0, 0, 0, .2);
    width:100%;
    color: inherit;
    &:hover{
      background-color: rgba(0, 0, 0, .5);
    }
    .subtext-btn:hover:after{
      content: 'Alive';
    }
    .subtext-btn{
      height:inherit;
      width:inherit;
      background-color: rgba(0, 0, 0, 0);
      border:none;
      outline: none;
    }
  }
}

//Stories---------------------------
.story{
  background-color:darken(#181819,7%);
  border: 1px solid darken(grey,48.05%);
  text-align: center;
  padding:0;
  &:hover{
    background-color: lighten(black,5%);
  }
  .story-title{
    line-height: 100%;
    color: whitesmoke;
  }
  .story1-img{
    background: black url("/assets/images/creepyhousebw.jpg") no-repeat;
    @include story-img-props;
  }
  .story1-img:hover{
    background: black url("/assets/images/creepyhouse.jpg") no-repeat;
    @include story-img-props;
  }
  .story2-img{
    background: black url("/assets/images/lost-man-bw.jpg") no-repeat;
    @include story-img-props;
  }
  .story2-img:hover{
    background: black url("/assets/images/lost-man.jpg") no-repeat;
    @include story-img-props;
  }
  .story3-img{
    background: black url("/assets/images/magic-lady-bw.jpg") 0 -1px no-repeat;
    @include story-img-props;
  }
  .story3-img:hover{
    background: black url("/assets/images/magic-lady.jpg") 0 -1px no-repeat;
    @include story-img-props;
  }
}

//Modal---------------------------
.modal{
  .modal-content{
    background: rgba(0,0,0,0.9) url("/assets/images/skullhand.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    background-position-x: center;
    background-position-y: center;
    color: whitesmoke;

    .modal-body{
      text-align: center;
    }
    .modal-footer{
      text-align: center;
      color:black;
    }
  }
  .close {
    color: whitesmoke;
    opacity: 1;
  }
  .close:hover{
    opacity: .5;
  }
  .close-modal{
    margin:20px;
  }
  .close-modal:hover{
    color:whitesmoke;
    opacity: .9;
  }
}

//Footer---------------------------
footer{
  background-color: lighten(black,5%);
  line-height: 100%;
  color: slategray;
  width:100%
}

//Media Queries---------------------
@media only screen
and (max-width: 768px){
  .story{
    width: 100%;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
  .container-fluid{
    .header-top{
      height: 25%;
      .headline{
        height: 50%;
      }
      .subtext{
        height: 50%;
        .subtext-btn{
          height: 100%;
        }
      }

    }

    .row.row2{
      height: 75%;
      .story{
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
  .story{
    width: 33.3333333%;
    float: left;
  }
  .modal-content{
    width: 50%;
    left:25%;
  }
}

//for iphone5 modal adjustments
@media only screen
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
  .modal-content div.modal-body.h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    hr{
      margin-top: 10px;
      margin-bottom:10px;
    }
  }
}








