//Vertical Layout-------------------------------------
html,body{
  height: 100%;
}
.container-fluid{
  height: 80%;
  overflow: auto;
  .header-top{
    height: 40%;
    .headline{
      height: 60%;
    }
    .subtext{
      height: 40%;
      .subtext-btn{
        height: 100%;
      }
    }

  }

  .row.row2{
    height: 60%;
    .story{
      height: 100%;
    }
  }
}
footer{
  height: 20%;
}

//Helpers----------------------------------------------
.dead-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-fnOver{
  box-shadow: 0 0 5px rgba(247, 246, 234, .1) !important;
  background-color: lighten(black,5%) !important;
}

@mixin story-img-props{
  cursor: pointer;
  background-size: 100% 100%;
  height:50%;
  width: 50%;
  margin: auto;

}

@mixin down-arrow{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid lighten(black,5%);;
  z-index: 100;

}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.story-fnOver{
  box-shadow: 0 0 5px rgba(247, 246, 234, .1) !important;
  background-color: lighten(black,5%) !important;
}

.black-top{
  border-top: 1px solid black;
}

/*Animations----------------------------------*/
.stories{
  perspective: 5000px;
  //transition: .5s;
}
@keyframes rotate-forward {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(180deg);}
}
@keyframes rotate-backward {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}
.rotate-box-forward{
  animation-name: rotate-forward;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.rotate-box-backward{
  animation-name: rotate-backward;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
//-----------------------------------------------------
.msg, .modal-content{
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color:transparent;
}


//Header-----------------------------------------------
.header-top{
  color:whitesmoke;
  background: url("/assets/images/dforest.jpg")  center;
  background-size:cover;
  overflow: auto;
  .headline{
    background-color:transparent;
    color: inherit;
    padding-top: 30px;
    padding-bottom:30px;
  }
  .subtext{
    background-color: rgba(0, 0, 0, .2);
    width:100%;
    color: inherit;
    &:hover{
      background-color: rgba(0, 0, 0, .5);
    }
    .subtext-btn:hover:after{
      content: 'Alive';
    }
    .subtext-btn{
      height:inherit;
      width:inherit;
      background-color: rgba(0, 0, 0, 0);
      border:none;
      outline: none;
    }
  }
}


//Stories-----------------------------------------------
.story{
  background-color:darken(#181819,7%);
  border: 1px solid darken(grey,48.05%);
  text-align: center;
  padding:0;
  &:hover{
    background-color: lighten(black,5%);
  }
  .story-title{
    line-height: 100%;
    color: whitesmoke;
  }
  .story1-img{
    background: black url("/assets/images/creepyhousebw.jpg") no-repeat;
    @include story-img-props;
  }
  .story2-img{
    background: black url("/assets/images/lost-man-bw.jpg") no-repeat;
    @include story-img-props;
  }
  .story3-img{
    background: black url("/assets/images/magic-lady-bw.jpg") 0 -1px no-repeat;
    @include story-img-props;
  }

  .story1-img:hover{
    background: black url("/assets/images/creepyhouse.jpg") no-repeat;
    @include story-img-props;
  }
  .story2-img:hover{
    background: black url("/assets/images/lost-man.jpg") no-repeat;
    @include story-img-props;
  }
  .story3-img:hover{
    background: black url("/assets/images/magic-lady.jpg") 0 -1px no-repeat;
    @include story-img-props;
  }

  .story1-img-hover{
    background: black url("/assets/images/creepyhouse.jpg") no-repeat;
    @include story-img-props;
  }
  .story2-img-hover{
    background: black url("/assets/images/lost-man.jpg") no-repeat;
    @include story-img-props;
  }
  .story3-img-hover{
    background: black url("/assets/images/magic-lady.jpg") 0 -1px no-repeat;
    @include story-img-props;
  }
}


//Modal-----------------------------------------------
.modal{
  .modal-content{
    background: rgba(0,0,0,0.9) url("/assets/images/skullhand.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    background-position-x: center;
    background-position-y: center;
    color: whitesmoke;

    .modal-body{
      text-align: center;
    }
    .modal-footer{
      text-align: center;
      color:black;
    }
  }
  .close {
    color: whitesmoke;
    opacity: 1;
  }
  .close:hover{
    opacity: .5;
  }
  .close-modal{
    margin:20px;
  }
  .close-modal:hover{
    color:whitesmoke;
    opacity: .9;
  }
}


//Summary-----------------------------------------------
footer{
  background-color: lighten(black,5%);
  line-height: 100%;
  color: slategray;
  width:100%;
  overflow: hidden;
  position: relative;
  .arrow{
    position: absolute;
    top:0;
    @include down-arrow;
  }
  .arrow.arrow1{
    display: none;
    left: calc(16.66666665% - 16px );
  }
  .arrow.arrow2{
    display: none;
    left: calc(50% - 17px);
  }
  .arrow.arrow3{
    display: none;
    left: calc(83.3333333% - 18px);
  }
  .summary{
    display: none;
    padding:20px;
    position: absolute;
    top:0;
    background-color:darken(#181819,7%);
    line-height: inherit;
    color: inherit;
    height: 100%;
    width: inherit;
    z-index: 0;
  }
}


//Media Queries------------------------------------------
@media only screen
and (max-width: 768px){
  .story{
    width: 100%;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
  .container-fluid{
    .header-top{
      height: 25%;
      .headline{
        height: 50%;
      }
      .subtext{
        height: 50%;
        .subtext-btn{
          height: 100%;
        }
      }
    }
    .row.row2{
      height: 75%;
      .story{
        height: 100%;
        width: 100%;
      }
    }
  }
  .arrow1,.arrow2,.arrow3{
    left: calc(50% - 17px) !important;
  }
}
.iPad-header-fix{
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  .subtext{
    position: absolute;
    bottom:0;
  }
}
.iPad-Pro-header-fix{
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  .subtext{
    position: absolute;
    bottom:0;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1023px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
  .header-top{
    position: relative;
  }
  div.msg{
    margin-top: -10px;
  }
  .subtext{
    position: absolute;
    bottom:0;
  }
}


@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
  .story{
    width: 33.3333333%;
    float: left;
  }
  .modal-content{
    width: 50%;
    left:25%;
  }
  .header-top{
    position: relative;
  }
  .subtext{
    position: absolute;
    bottom:0;
  }
}

//iPhone5 adjustments
@media only screen
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
  .modal-content div.modal-body.h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    hr{
      margin-top: 10px;
      margin-bottom:10px;
    }
  }
  footer .summary{
    font-size: 10px;
  }
}








